<div class="container-fluid text-center panel-body">
    <img src="app/assets/images/profile.png" class="profile-pic img-responsive img-circle margin" alt="profile pic">


        <div class="container-fluid bg-3 text-left h-basic-font h-standard-padding">

            <h1>Hello there!!</h1>

            <p>I am uday sravan k. You can call me usk in short :)</p>

            <p > I have done my bachelors degree on Electronics and Communication Engineering in 2010
                from SBCE college affiliated to Jawaharlal Nehru
                Technological University Khammam District Telangana State India. Born in 1990 May 31.</p>

            <p >My professional career has been started in Oct, 2011 in software sector as a mobile
                application developer on native Android, HTML5 technologies.</p>

            <p >I have developed and shipped 11 android in house and client product applications
                including apps from scratch level.</p>

            <p >I have worked for Target's iPad shopping application developed using native iOS
                frameworks. Did R&D work to develop ePub reader product from scratch using native iOS and web
                technologies.</p>

            <p >I can build a web application using Node, HTML, JavaScript and SQL. Currently working
                for the development of Target eCommerce shopping website for mobile, tablet and desktop.</p>

            <p >I have good experience and knowledge of eCommerce and eLearning domains.</p>

            <p >As a programmer I always adhere to best conventions and coding practices for quality
                work. Capable of handling long term projects either stand alone or in a team.</p>

            <p >I can comfortably adapt to new technologies and skills depending on requirement and my
                own interest of learning. Target recognized with ‘Best Transformer’ award for being able to switch and
                speed pick up on different technologies.</p>

            <p >I do share knowledge and help peers in understanding and fixing their blocker issues
                even if they are not relevant to my work.</p>

            <p >I strive continuously to keep my self up to date with new technologies and skills.</p>

            <p >Having good work life balance by playing sports, following health and fitness , visiting
                new places and enjoying entertainment is my life style.</p>

            <p >In free time I watch movies, listen songs, travel. I like to visit natural tourism spots
                , hill stations, reservoirs, explore new places. </p>

            <p >I go by health first rest all next principle. So I spend quality time about my fitness
                and diet. </p>

        </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Contact</h3>
            <span>+00 91 9686602660</span>
            <span>usk.kamineni@gmail.com</span>
            <address>
                Bangalore, India
            </address>
        </div>
    </div>
</div>