<h4 class="h-standardMargin"><%=title%></h4>
<div class="container-fluid text-center panel-body h-text-align-left">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Arial;
            panose-1:2 11 6 4 2 2 2 2 2 4;}
        @font-face
        {font-family:"Courier New";
            panose-1:2 7 3 9 2 2 5 2 4 4;}
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        @font-face
        {font-family:"Helvetica Neue";
            panose-1:2 0 5 3 0 0 0 2 0 4;}
        @font-face
        {font-family:Menlo;
            panose-1:2 11 6 9 3 8 4 2 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        a:link, span.MsoHyperlink
        {color:#0563C1;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:#954F72;
            text-decoration:underline;}
        p
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        pre
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:10.0pt;
            font-family:Courier;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:Calibri;}
        span.HTMLPreformattedChar
        {font-family:Courier;}
        p.p1, li.p1, div.p1
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:9.0pt;
            font-family:"Helvetica Neue";
            color:#454545;}
        .MsoChpDefault
        {font-family:Calibri;}
        @page WordSection1
        {size:8.5in 11.0in;
            margin:1.0in 1.0in 1.0in 1.0in;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0in;}
        ul
        {margin-bottom:0in;}
        -->
    </style>



    <div bgcolor=white lang=EN-US link="#0563C1" vlink="#954F72" class="h-standardMargin">

    <div class=WordSection1>

        <p class=MsoNormal>Android </p>

        <p class=MsoNormal>Fragments</p>

        <p class=MsoNormal>Intent flags sticky intents /services stack_task_cleartop</p>

        <p class=MsoNormal>Broadcast flags</p>

        <p class=MsoNormal>Content Provider example</p>

        <p class=MsoNormal>PendingIntent with FLAG_UPDATE_CURRENT</p>

        <p class=MsoNormal><b>AsyncTask</b></p>

        <p class=MsoNormal>memory analyzer </p>

        <p class=MsoNormal>Managing cache files</p>

        <p class=MsoNormal>Application sandbox </p>

        <p class=MsoNormal>Inter Process Communication</p>

        <p class=MsoNormal>Android Interface definition language</p>

        <p class=MsoNormal>what is invalidate </p>

        <p class=MsoNormal>Android constraints</p>

        <p class=MsoNormal>OpenGLES 2.0</p>

        <p class=MsoNormal>Loaders</p>

        <p class=MsoNormal>SyncAdapters</p>

        <p class=MsoNormal>Intelligent Job Scheduling</p>

        <p class=MsoNormal>GDM</p>

        <p class=MsoNormal>Package Signing </p>

        <p class=MsoNormal>Google Instant Apps<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Won't
            support push notifications, content provider, changing user settings like
            wallpaper</p>

        <p class=MsoNormal>Injecting frameworks like Dagger </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Questions</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Activity is GUI which represents one screen.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Can we have two activities on one screen?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>What is the diff bw simulator and emulator?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Explain 2 android exceptions? </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>New android project structure with ADT ? and manifest structure?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>What is sticky intent?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>How broadcast receiver works?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>What are different flags you know to start services/activities/broadcast
            receivers?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>What is the diff bw DVM &amp; JVM?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How an app widget works? How to implement it?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>11.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What methods gets called while changing orientation?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>12.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What are the steps to publish and app to play store?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>13.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How Multiple manifest files works?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>14.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Sticky intent? Let's say fired and broadcast intent but not one
            registered but still if someone registered in the future they will receive
            broadcast msg. Bcz sticky intent sticked to android OS.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>15.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Explain app caching techniques ?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>16.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to add multiple sub project in ADT IDE?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>17.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Diff bw different activity classes? Activity.java /
            AppCompatActivity.java</p>

        <p class=MsoListParagraph style='margin-left:1.0in;text-indent:-.25in'><span
                style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>AppCompatActivity is base class for activities that use the
            support library action bar features. Extends v4 FragmentActivity</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>18.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Diff bw widgets? like EditText and AppCompatEditText</p>

        <pre style='margin-left:.5in;text-indent:-.25in;background:white'><span
                style='font-size:9.0pt;font-family:Menlo;color:black'>19.<span
                style='font:7.0pt "Times New Roman"'> </span></span>How to write and run test cases? How to generate report? (<i><span
                style='font-size:9.0pt;font-family:Menlo;color:gray;background:transparent'>http://d.android.com/tools/testing</span></i>)</pre>

        <p class=MsoListParagraph style='text-indent:-.25in'>20.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is @RunWith, @Test</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>21.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What do u know about junit?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>22.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span><b>import static </b>org.junit.Assert.*&nbsp;&nbsp; // why static here?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>23.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>what is mipmap?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>24.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is android O ?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>25.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Whats the lang used in gradle scripts? groovy programming language</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>26.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What do u know about maven?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>27.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is jcenter? its android plugin/library repository </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>28.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is proguard? check <i>http://developer.android.com/guide/developing/tools/proguard.html</i></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><b>29.<span
                style='font:7.0pt "Times New Roman"'>&nbsp; </span></b><b>what is
            com.android.support.test.espresso:espresso-core?</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>30.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is xml resource dimen ? </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>31.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is pixel density? </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>32.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to implement android app instructions?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>33.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is firebase? https://firebase.google.com/docs/cloud-messaging/</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>34.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to stop device fall in sleep screen mode?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>35.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to enable extended notifications messages?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>36.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to make interactive notification messages? i.e reply from
            notifications</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>37.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>List of newly added features and UI components or apis like recycler?
            split screen etc ?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>38.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to make app work in split screen mode?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>39.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is LoaderManager?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>40.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How do you reuse list item views for large list with heavy view items?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'><i>41.<span
                style='font:7.0pt "Times New Roman"'>&nbsp; </span></i>What is navigateUpTo
            method does? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>http://developer.android.com/design/patterns/navigation.html#up-vs-back</i></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>42.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to implement refresh list on pulling down like gmail?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>43.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to implement caching of images in a shopping app? using file storage
            <br>
            if we write some cache files to external storage then when user uninstalls the
            app, the system removes app's files only if we saved them in the directory from
            <b>getExternalFilesDir(). </b>use <a
                    href="https://developer.android.com/reference/android/content/Context.html#getCacheDir()">getCacheDir()</a>
            of internal storage.<br>
            File.createTempFile(fileName, null, context.getCacheDir())</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>44.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What if we don't write code for activity chooser? systems shows chooser
            automatically.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>45.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>use&nbsp;<a
                href="https://developer.android.com/reference/android/content/Context.html#MODE_PRIVATE">MODE_PRIVATE</a>&nbsp;for
            your files on the internal storage, they are never accessible to other apps</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>46.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>preferences vs shared preference? one is for settings and other is to
            store key-values </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>47.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>write files to external storage using getExternalFilesDir() to get
            deleted on app uninstall. private files.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>48.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>For external storage public files use
            getExternalStoragePublicDirectory()</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>49.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>String[] projection = {Phone.NUMBER}; // this syntax looks new in java!!</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>50.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How to create custom intent actions and filters?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>51.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Example for IllegalArgumentException?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>52.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>What is requestLayout()?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>53.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>SurfaceView vs Canvas</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>54.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Sync Adapters to sync data bw client and server.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>55.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Firebase Cloud Messaging is middle level module to stop polling servers
            directly from client.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>56.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Volley vs DownloadManager</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>57.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Activities, Services, BroadcaseReceivers activated by intents.
            ContentProviders activated by content resolvers</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>58.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>expandable product description box.. show more link?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>59.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Image carousel with zoom features?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>60.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Animation of ATC product moving to cart?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>61.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Infinite vertical scroll of products.. load next page after reaching to
            bottom of page?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>62.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>pull down refresh feature?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>63.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>search hints drop down/ suggestions spinner ?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>64.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>what is facade?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>65.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>how to identify native installed or not from web app?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>66.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Card swipe to top right corner to remove or go to next image feature?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>67.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>How payment gate way works </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>68.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>why recyclerview doesn't have on item click listener?</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>NEW COMPONENTS</b></p>

        <p class=MsoNormal>Toolbar/ CollapsingToolbarLayout</p>

        <p class=MsoNormal>AppBarLayout/ NestedScrollView</p>

        <p class=MsoNormal>FloatingActionButton</p>

        <p class=MsoNormal>CoordinatorLayout</p>

        <p class=MsoNormal>ConstraintLayout</p>

        <p class=MsoNormal>FileProvider in v4 support lib. to use we need to set
            &lt;provider&gt; in manifest</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Notes</b></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>When to use this &amp;
getapplicationcontext:</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>1.If the control or
variable you are creating should belong to application level then use
applicationContext.</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>2.If the control or
variable you are creating should belong to Activity level then use this pointer
or this context.</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>When programmer wants
to create any component or control, then you have to use one of the contexts.</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>eg: TextView t = new
TextView(this); </span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Here we are using this
pointer (context).</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>eg: static TextView st
= new TextView(getApplicationContext());</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Here we are using
application context, because it is a static variable whose life time will be
through out application life time.</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>If you use this pointer
here, then it will leak memory (memory wastage) of your activity.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>1.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>ConstraintLayout helps
to create flat view hieararchy. That is, it avoids the need for nested layouts.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>2.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>In Studio 2.3 build
cached introduced for gradle build tool. Which compileds and keeps libraries in
a common shared folder so other apps can use it. This is for build performance
boost.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>3.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>support library allows
you to use several recent platform APIs on older versions</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>4.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>To make your activity
look like a dialog box:<br>
&lt;activity android:theme=&quot;@android:style/Theme.Dialog&quot;&gt;</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>5.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Stock Android = pure
android = vanilla android = A version/instance of Android which hasn't been
mangled by third-party skins, apps and &quot;mods&quot; in general. Also known
as &quot;vanilla Android&quot;</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>6.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Doze saved your batter
in the night while in u r in sleep</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>7.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Android Go will
basically be a lightweight version of the upcoming&nbsp;</span><a
                href="http://www.androidauthority.com/tag/android-o/"><span style='font-size:
9.0pt;font-family:Arial'>Android O</span></a><span style='font-size:9.0pt;
font-family:Arial;color:#333333'>, but designed to run on smartphones that have
1 GB, or even 512 MB, &nbsp;of RAM. Like Android One phones.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>8.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Fragments introduced in
api 11<br>
- are reusable, modular UI components <br>
- maintains it's own life cycle in sync with parent activity<br>
- works like nested activities/ sub activities <br>
- A Fragment class must associate with FragmentActivity class<br>
- if fragment added from xml then can not be removed at run time<br>
- use FragmentManager to create a FragmentTransaction like add/remove/replace
etc in Activity's onCreate method into some container like FrameLayout/
RelativeLayout etc.<br>
- transaction.addToBackStack(null); // do it after remove/replace so user can
navigate to previous removed fragment then perform commit(); instead null pass
a name for advanced transactions on back stack<br>
- two fragments never communicates directly. should be by using associated
activity<br>
- Fragment A calls callback interface of activity then activity call FragmentB
method.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>9.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Internal storage is
best when you want to be sure that neither the user nor other apps can access
your files.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>10.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>External storage is the
best place for files that don't require access restrictions and for files that
you want to share with other apps or allow the user to access with a computer.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>11.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>In File sharing
(gallary shares pic file with photo editors) Content URIs with temporary URI
access permissions are secure because they apply only to the app that receives
the URI, and they expire automatically.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>12.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>ActionProvider/
ShareActionProvider to enable share icon in ActionBar menu</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>13.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>ContentURI to share a
file will allow client app to read the file even if client app doesn't have
read exteranal storage permission. Like gmail app. </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>14.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>FileSharing securely: client(gmail)
app sends a request with intent to select a file from server(kind of gallery)
app. Server app sends the ContentURI of file instead of direct file path in returnIntent
to client app with temporary read access. By using content resolver client app
reads the file.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>15.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Loaders are like
adapter+async task kind of . Monitors data change too.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>16.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Java reflectors are
used to inspect a class implementation in the run time. Like to check what
methods a class has , what members and what type like private/public etc. using
Class.forName() instance.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>17.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>use&nbsp;</span><a
                href="https://developer.android.com/reference/android/app/Activity.html#onStop()"><span
                style='font-size:9.0pt;font-family:Arial'>onStop()</span></a><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;to release
resources that might leak memory, because it is possible for the system to kill
the process hosting your activity without calling the activity's final&nbsp;</span><a
                href="https://developer.android.com/reference/android/app/Activity.html#onDestroy()"><span
                style='font-size:9.0pt;font-family:Arial'>onDestroy()</span></a><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;callback</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>18.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>use isFinishing()
method to distinguish bw app destorying due to finish() method or system destroying
it to free memory when app is in onStop state in the background.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>19.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>onSaveInstanceState
won't get called if user clicked on back button.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>20.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>java compiled and
statically typed; java script interpreted and dynamically typed</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>21.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>annotations are for compilers.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>22.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Hiding internal data
from the outside world, and accessing it only through publicly exposed methods
is known as data&nbsp;<b>encapsulation</b>.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>23.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>In java declaring array
is as int[] array = {3, 5, 54}; multidimension is int[][] arr = {{3,4,5},
{6,7,8}, {1,2,3}}</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>24.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>in java null&nbsp;is
not an instance of anything</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>25.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>int[][] a = new
int[x][y];</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>26.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>parentheses,&nbsp;() ;
brackets {}; square brackets []</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>27.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>passing an object to
match will be sent as .. pass by value. So the reference passed in by value can
not change the actual passed object but can change member values of that object
<br>
public class Test {</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; public
static void main(String[] args) {</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Circle
c1 = new Circle(4, 5);</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; doSomething(c1);</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; private
static void doSomething(Circle c){</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c.x
= 7;c.y =8;</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c
= new Circle(9,9);</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; private
static class Circle {</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; private
int <u>x</u>, <u>y</u>;</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; public
Circle(int x, int y) {</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; this.x
= x;</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; this.y
= y;</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>28.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>public, private,
protected and package-private (default access modifier).</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>29.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>The&nbsp;protected&nbsp;modifier
specifies that the member can only be accessed within its own package (as
with&nbsp;<i>package-private</i>) and, in addition, by a subclass of its class
in another package.<br>
package pack1;<br>
class1 {<br>
protected int protectedA = 5;<br>
int defaultB = 30;<br>
}<br>
package pack2;<br>
class 2 extends class1{<br>
this. protectedA ;// can access<br>
this. defaultB ; // cannot access<br>
}</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>30.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>keyword static: static
fields or class variables are associated with class instead of an object
created for that class. Every instance of the class shares a class variable,
which is in one fixed location in memory. Any object can change the value of a
class variable.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>31.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>instance variables</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>32.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>cannot override final
methods </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>33.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>an outer class can only
be public or package-private (means no modifier)</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>34.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>local class: a class
inside the body of a method</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><b><span style='font-size:9.0pt;font-family:Arial;color:#333333'>35.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>A variable or parameter
whose value is never changed after it is initialized is <b>effectively final</b></span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>36.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><i><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>captured variable :a
final variable in a method accessed by its </span></i><span style='font-size:
9.0pt;font-family:Arial;color:#333333'>local class.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>37.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>in regualr expressions
'[]' means all . ex [^0-9] all not zero to nine characters </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>38.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>local classes cannot
use interface implement mechanism. bcz interfaces are inherently static.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>39.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>local classes cannot
have static member or&nbsp; methods</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>40.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Anonymous class: We
can't reuse the class implementation. Because it doesn't have any name<br>
show(new A(){<br>
&nbsp;&nbsp;&nbsp; public void method1(){<br>
&nbsp;&nbsp;&nbsp; }<br>
&nbsp;&nbsp;&nbsp; // you can't use this class A implementation to create
another instance object for A<br>
});<br>
<br>
</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>41.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>default keyword in java
8 useful to write default implementation for a interface method in interface
file it self.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in;line-height:16.2pt;
background:white'><span style='font-size:9.0pt;font-family:Arial;color:#333333'>42.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>there is only call by
value in java</span></p>

        <p class=MsoNormal style='margin-left:.25in;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;</span></p>

        <p class=MsoNormal style='margin-left:.25in;line-height:16.2pt;background:white'><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>&nbsp;</span></p>

        <p class=MsoNormal style='line-height:16.2pt;background:white'><b><span
                style='font-size:9.0pt;font-family:Arial;color:#333333'>Lollipop features</span></b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Material design - Small animations in notification icons like
            orientation change, more screen colors with sharp layouts</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>recent apps after reboot</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>DND mode </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>inbuild chromecast </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Guest mode to share device with others easily</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>search settings</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>pin apps for kids - restrct to move to other apps.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Interact with notifications from lock screen</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>app notification enable /disable app level</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>flash light in notifications </p>

        <p class=MsoNormal><b>Marshmallow features SDK 23</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Long-pressing the home button now activates Google Now on Tap</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Fingerprint hard ware support and Fingerprint API</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Doze : intelligent battery management feature that recognizes when your
            device is not is use, like when it has been lying on a bedside table for a
            while, and enters hibernation</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Type-C and reverse charging. Means you can charge one mobile from other
            mobile</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Permissions for a particular app particular permission can be viewed and
            changed <br>
            Request permission at run time </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Automatic app backup</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Chrome custom tabs. A Chrome-based in-app mini-browser that developers
            can use to display web page content within their app (like an FAQ or Help
            page), rather than having a user bounce from their app to a web app</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Delete screenshots from notifications shade, Silent mode/priority
            notifications, Network security reset</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>solved problem of repeated tell the system to always open certain <b>app
            links</b> with a certain app</p>

        <p class=MsoNormal><b>Naugat features</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><b>1.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></b>close
            all button for recent apps </p>

        <p class=MsoListParagraph style='text-indent:-.25in'><b>2.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></b>bundle
            / group multiple notifications </p>

        <p class=MsoListParagraph style='text-indent:-.25in'><b>3.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></b>double
            tap on multitasking button to quickly swap bw two recent apps</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Multi window </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>GIF file emoji keyboard </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Google assistant</p>

        <p class=MsoNormal><b>Android O </b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>picture-in-picture</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Notification Dots</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>notification icon on top of an app icon on your Homescreen</p>

        <p class=MsoListParagraph style='text-indent:-.25in'><b>4.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></b>Smart
            text selection - with one tap after text selection , can go to address on maps
            or can call to a number etc </p>

        <p class=MsoNormal><b>Google I/O keynote 2017</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Google lens</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Youtube 360 video on TV with tv remote control</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>kotlin</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>URLS</p>

        <p class=MsoNormal>square.github.io/picasso/ for gradle compile library package</p>

        <p class=MsoNormal>https://bintray.com/android/android-utils/com.android.volley.volley/view</p>

        <p class=MsoNormal><b>For android news </b></p>

        <p class=MsoNormal>https://www.androidpit.com/</p>

        <p class=MsoNormal>http://www.androidpolice.com/</p>

        <p class=MsoNormal>http://www.androidauthority.com/</p>

        <p class=MsoNormal>https://www.javatpoint.com/corejava-interview-questions</p>

        <p class=MsoNormal>https://willowtreeapps.com/ideas/an-introduction-to-android-instant-apps</p>

        <p class=MsoNormal>https://github.com/googlesamples/android-architecture</p>

        <p class=MsoNormal>https://developer.android.com/topic/libraries/support-library/features.html</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>Libs</p>

        <p class=MsoNormal>Retrofit - REST api client like volley</p>

        <p class=MsoNormal>Fresco - image loading and caching like picasso</p>

    </div>

    </div>

    </html>

</div>
