<h4 class="h-standardMargin"><%=title%></h4>
<div class="container-fluid text-center panel-body h-text-align-left">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Arial;
            panose-1:2 11 6 4 2 2 2 2 2 4;}
        @font-face
        {font-family:"Courier New";
            panose-1:2 7 3 9 2 2 5 2 4 4;}
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        h1
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:24.0pt;
            margin-left:0in;
            border:none;
            padding:0in;
            font-size:20.0pt;
            font-family:Calibri;
            color:#731C3F;
            font-weight:normal;}
        h2
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:Calibri;
            color:#7F7F7F;}
        h3
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:20.0pt;
            font-family:Calibri;
            font-weight:normal;}
        h4
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:20.0pt;
            font-family:Calibri;
            font-weight:normal;
            font-style:italic;}
        h5
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:17.0pt;
            font-family:Calibri;
            color:#262626;
            font-weight:normal;}
        h6
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:17.0pt;
            font-family:Calibri;
            color:#262626;
            font-weight:normal;
            font-style:italic;}
        p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:17.0pt;
            font-family:Calibri;}
        p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:17.0pt;
            font-family:Calibri;
            font-style:italic;}
        p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:Calibri;
            color:#262626;}
        p.MsoHeader, li.MsoHeader, div.MsoHeader
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        p.MsoFooter, li.MsoFooter, div.MsoFooter
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        p.MsoCaption, li.MsoCaption, div.MsoCaption
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:10.0pt;
            margin-left:0in;
            font-size:12.0pt;
            font-family:"Times New Roman";
            font-style:italic;}
        p.MsoListBullet, li.MsoListBullet, div.MsoListBullet
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.3in;
            margin-bottom:.0001pt;
            text-indent:-.3in;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        p.MsoListNumber, li.MsoListNumber, div.MsoListNumber
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.3in;
            margin-bottom:.0001pt;
            text-indent:-.3in;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        p.MsoTitle, li.MsoTitle, div.MsoTitle
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:3.0pt;
            margin-left:0in;
            font-size:33.0pt;
            font-family:Calibri;
            color:#262626;
            text-transform:uppercase;}
        p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:26.0pt;
            margin-left:0in;
            font-size:20.0pt;
            font-family:"Times New Roman";
            text-transform:uppercase;}
        a:link, span.MsoHyperlink
        {color:#731C3F;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:#214C5E;
            text-decoration:underline;}
        em
        {color:#262626;
            font-weight:bold;
            font-style:normal;}
        pre
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:10.0pt;
            font-family:Courier;}
        span.MsoPlaceholderText
        {color:gray;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        p.MsoQuote, li.MsoQuote, div.MsoQuote
        {margin-top:12.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:18.0pt;
            font-family:"Times New Roman";
            font-style:italic;}
        p.MsoIntenseQuote, li.MsoIntenseQuote, div.MsoIntenseQuote
        {margin-top:12.0pt;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:0in;
            margin-bottom:.0001pt;
            font-size:18.0pt;
            font-family:"Times New Roman";
            font-weight:bold;
            font-style:italic;}
        span.MsoSubtleEmphasis
        {color:#404040;
            font-style:italic;}
        span.MsoIntenseEmphasis
        {color:#262626;
            font-weight:bold;
            font-style:italic;}
        span.MsoSubtleReference
        {font-variant:normal !important;
            color:#262626;
            text-transform:uppercase;}
        span.MsoIntenseReference
        {font-variant:normal !important;
            color:#262626;
            text-transform:uppercase;
            letter-spacing:0pt;
            font-weight:bold;}
        span.MsoBookTitle
        {letter-spacing:0pt;
            font-weight:normal;
            font-style:normal;
            text-decoration:underline;}
        p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:24.0pt;
            margin-left:0in;
            border:none;
            padding:0in;
            font-size:20.0pt;
            font-family:Calibri;
            color:#731C3F;}
        span.Heading1Char
        {font-family:Calibri;
            color:#731C3F;}
        span.TitleChar
        {font-family:Calibri;
            color:#262626;
            text-transform:uppercase;}
        span.SubtitleChar
        {font-family:"Times New Roman";
            text-transform:uppercase;}
        span.Heading2Char
        {font-family:Calibri;
            color:#7F7F7F;
            font-weight:bold;}
        span.Heading3Char
        {font-family:Calibri;}
        span.Heading4Char
        {font-family:Calibri;
            font-style:italic;}
        span.Heading5Char
        {font-family:Calibri;
            color:#262626;}
        span.Heading6Char
        {font-family:Calibri;
            color:#262626;
            font-style:italic;}
        span.Heading7Char
        {font-family:Calibri;}
        span.Heading8Char
        {font-family:Calibri;
            font-style:italic;}
        span.Heading9Char
        {font-family:Calibri;
            color:#262626;}
        span.QuoteChar
        {font-style:italic;}
        span.IntenseQuoteChar
        {font-weight:bold;
            font-style:italic;}
        span.HTMLPreformattedChar
        {font-family:Courier;
            color:windowtext;}
        .MsoChpDefault
        {font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        .MsoPapDefault
        {margin-bottom:6.0pt;
            line-height:107%;}
        /* Page Definitions */
        @page WordSection1
        {size:8.5in 11.0in;
            margin:.5in 1.0in 1.25in 1.0in;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0in;}
        ul
        {margin-bottom:0in;}
        -->
    </style>



    <div lang=EN-US link="#731C3F" vlink="#214C5E" class="h-standardMargin">

    <div class=WordSection1>

        <p class=MsoNormal><span style='font-family:Arial'>http://www.guru99.com/angularjs-first-program.html</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&lt;!doctype html&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&lt;html ng-app=&quot;demoApp&quot;&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp; &lt;head&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp; &lt;script
src=&quot;https://code.angularjs.org/1.4.0/angular.js&quot;&gt;&lt;/script&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp; &lt;/head&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp; &lt;body&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp; &lt;h1
ng-controller=&quot;headingController&quot;&gt;{{heading}}&lt;/h1&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp; &lt;script&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
var app = angular.module(' demoApp');</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
app.controller('headingController', function($scope) {</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
$scope.heading = 'Keep coding borther';</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
});</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp; &lt;/script&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp; &lt;/body&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&lt;/html&gt;</span></p>

        <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>

        <p class=MsoListParagraph style='margin-bottom:6.0pt;text-indent:-.25in;
line-height:107%'><span style='font-size:15.0pt;line-height:107%;font-family:
Arial'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:15.0pt;line-height:107%;font-family:Arial'>The $scope object
is used to manage the data between the controller and the view.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-family:Arial'>How to call a method on scope from expression?<br>
$scope.fun1 = function() {<br>
&nbsp;&nbsp; return 'hello';<br>
});<br>
<br>
{{fun1}} // does it works ?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-family:Arial'>app.config('$routeProvider', function($routeProvider)
{<br>
$routeProvider.when('/about', {<br>
templateUrl: 'about.html',<br>
controller: 'aboutCtrl'<br>
}).when('/contact', {<br>
}).otherwise({<br>
reidirectTo:'/home'<br>
});</span></p>

        <p class=MsoListParagraph style='margin-bottom:6.0pt;text-indent:-.25in;
line-height:107%'><b><span style='font-size:15.0pt;line-height:107%;font-family:
Arial'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span
                style='font-size:15.0pt;line-height:107%;font-family:Arial'>Difference between
expression and $eval</span></b><b><span style='font-family:Arial'>.<br>
</span></b><b><span style='font-size:15.0pt;line-height:107%;font-family:Arial'>expressions
are used for evaluation in the view, the $eval is used in the controller
function</span></b><b><span style='font-family:Arial'><br>
app.controller('myCtrl', function(){<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $scope.a
= 1; $scope.b = 1;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $scope.sum =
$scope.$eval('a+b'); //$eval<br>
});<br>
&lt;span&gt;{{ sum}}&lt;/span&gt; // Expression </span></b></p>

        <p class=MsoListParagraph style='margin-bottom:6.0pt;text-indent:-.25in;
line-height:107%'><span style='font-size:15.0pt;line-height:107%;font-family:
Arial'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-family:Arial'>{{fullName | lowercase}} // filter <br>
{{ 3.1466666 | number:2}} // 2 decimals i.e 3.15<br>
{{ 20.56 | currency }} // output $20.56. <br>
</span><span style='font-size:15.0pt;line-height:107%;font-family:Arial'>currency
which is applied depends on the language settings which are applied on the
machine</span></p>

        <p class=MsoListParagraph style='margin-bottom:6.0pt;text-indent:-.25in;
line-height:107%'><span style='font-size:15.0pt;line-height:107%;font-family:
Arial'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
                style='font-size:15.0pt;line-height:107%;font-family:Arial'>Filters are used to
change the way the output is displayed to the user. Works like formatters.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-family:Arial'>app.filter('customFilter', function(input){<br>
&nbsp;&nbsp; return input+ 'something';<br>
});<br>
{{ 'myText' | customFilter}} // prints myTextsomething</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-family:Arial'>app.directive('ngCustomDirctive', function(){<br>
&nbsp;return { template: '&lt;span&gt; from custom directive &lt;/span&gt;'}<br>
});<br>
&lt;div ng-customDirective=&quot;&quot;&gt;&lt;/div&gt;<br>
doubt: here template span appends to div or replaces div?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
                style='font-family:Arial'>doubt: in nested controllers , can we access top
controller scope variable in inner controller?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>10.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>app.directive('ngCustDir', function(){<br>
return {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; controller:
'myController1',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; controllerAs:
'myCtrl1',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; template:
'&lt;span&gt;{{myCtrl.age}}&lt;/span&gt;'<br>
}<br>
});&nbsp; // Define wt controller to be used for the custom directive.<br>
&lt;div ng-custDir=&quot;&quot;&gt;&lt;/div&gt;</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>11.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>reusable directive are like react ui-components </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>12.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>web component are nothing but new custom html
elements. i.e custom directives</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>13.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>doubt: how ng-transclude working? wt it is doing
exactly?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>14.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>doubt: what is transclude: true in custom directive?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>15.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>doubt: what is E in restrict : 'E' of inner
directive? E is 'element' </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>16.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>doubt: how to register click events?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>17.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>doubt: how to create multiple modules in one html
file ?</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>18.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>app.controller('myCtrl', function ($scope,
$routeParams, $route) {<br>
&nbsp;&nbsp;&nbsp; $routeParams.customerId;// prints 342 bcz in route
list.html#342<br>
&nbsp;&nbsp;&nbsp; $route.current.someText;//<br>
});<br>
<br>
<br>
<br>
<br>
app.config(['$routeProvider', function($routeProvider) {<br>
&nbsp; $routeProvider.when('/list/:customerId', {<br>
&nbsp;&nbsp;&nbsp; someText: 'some nonsense',<br>
templateUrl: 'list.html',<br>
controller: 'myCtrl'<br>
&nbsp; }<br>
});</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>19.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>how to remove hash from sample.html#/angular/3 ?<br>
by using $locationProvider <br>
set $locationProvide.html5Mode(true); after routerProvider.when</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>20.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>Dependency injectors<br>
angular.value('abc', 'alphabets');<br>
app.controller('myCtrl', function($scope, abc) {<br>
//here abc has been injected as value key injection method<br>
});<br>
<br>
using services <br>
angular.service('myService', function($scope){<br>
&nbsp; $scope.someFun = function(){<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; console.log('hello');<br>
&nbsp; }<br>
});<br>
app.controller('myCtrl', function($scope, myService) {<br>
//here myService has been injected as service injection method<br>
});</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>21.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>karma is testing framework developed by same
AngularJS team to test controllers and directives</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>22.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>jasmine is reporting tool</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>23.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>protractor is to help in identifying Angular custom
html elements like ng-repeat etc which can't be done by using web drivers
framework.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>24.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>webdrive is to control the browser </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>25.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>selenium web driver or junit is to capture web
elements</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>26.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>ng-include is used to fetch, compile and include an
external HTML fragment</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>27.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>include template using jquery $(&quot;#Content&quot;).load(&quot;Sub.html&quot;);
<br>
Sub.html to be injected in the div tag which has the id of Content.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>28.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>&lt;tr ng-repeat=&quot;topic in tutorial | orderBy:
&quot;name&quot;&gt;&lt;/tr&gt; // orderBy is filter<br>
&lt;td&gt; {{topic.name | uppercase}} &lt;/td&gt;<br>
&lt;/tr&gt;</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>29.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>$index can be used in ng-repeat / ng-option</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>30.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>$http.get(&quot;<a
                href="http://examplexyz/angular/getTopics.PHP">http://example/angular/getTopics.PHP</a>&quot;).then(function(response)
{})<br>
query([params], [success], [error]) - This can be used to make the standard GET
call, but an array is returned as part of the response.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>31.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>save([params], postData, [success], [error]) - This
can be used to make the standard POST call.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>32.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>$resource vs $http service</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>33.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>&nbsp;</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>34.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>angular.module('DemoApp.services').factory('Entry',
function($resource) </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>35.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>{</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>36.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
$resource('/example/Event/:1); // Note the full endpoint address</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>37.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>});</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
Arial'>38.<span style='font:7.0pt "Times New Roman"'> </span></span><span
                style='font-family:Arial'>&nbsp;</span></p>

    </div>

    </div>
</div>