<h4 class="h-standardMargin">Articles</h4>
<div class="container-fluid h-font-lg">
<a class='nav-link-close-drawer' href="#tax">
    <div class="well well-lg">Basic understanding about TAX</div>
</a>
<a class='nav-link-close-drawer' href="#theftcase">
    <div class="well well-lg">A theft case in Mumbai</div>
</a>
<a class='nav-link-close-drawer' href="#lifestyle">
    <div class="well well-lg">Lifestyle</div>
</a>
</div>
