<h4 class="h-standardMargin"><%=title%></h4>
<div class="container-fluid text-center panel-body h-text-align-left bg-7">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Arial;
            panose-1:2 11 6 4 2 2 2 2 2 4;}
        @font-face
        {font-family:"Courier New";
            panose-1:2 7 3 9 2 2 5 2 4 4;}
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:Verdana;
            panose-1:2 11 6 4 3 5 4 4 2 4;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:Calibri;}
        a:link, span.MsoHyperlink
        {color:#0563C1;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:#954F72;
            text-decoration:underline;}
        p
        {margin-right:0in;
            margin-left:0in;
            font-size:12.0pt;
            font-family:"Times New Roman";}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:Calibri;}
        .MsoChpDefault
        {font-family:Calibri;}
        @page WordSection1
        {size:8.5in 11.0in;
            margin:1.0in 1.0in 1.0in 1.0in;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0in;}
        ul
        {margin-bottom:0in;}
        -->
    </style>



    <div lang=EN-US link="#0563C1" vlink="#954F72" class="h-standardMargin">

    <div class=WordSection1>

        <p class=MsoNormal>Data Structures and Algorithms </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>http://www.studytonight.com/data-structures</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Bubble Sort</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>In every iteration the biggest will go to end the array.</p>

        <p style='margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;
text-indent:-.25in;line-height:18.0pt;background:white'><span style='font-size:
10.5pt;font-family:Arial;color:black'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:Arial;color:black'>Space
complexity for Bubble Sort is<span class=apple-converted-space>&nbsp;</span><b>O(1)</b>,
because only single additional memory space is required for<span
                    class=apple-converted-space>&nbsp;</span><b>temp</b><span
                    class=apple-converted-space>&nbsp;</span>variable</span></p>

        <p style='margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;
text-indent:-.25in;line-height:18.0pt;background:white'><span style='font-size:
10.5pt;font-family:Arial;color:black'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style='font-size:10.5pt;font-family:Arial;color:black'>Best-case</span></b><span
                class=apple-converted-space><span style='font-size:10.5pt;font-family:Arial;
color:black'>&nbsp;</span></span><span style='font-size:10.5pt;font-family:
Arial;color:black'>Time Complexity will be<span class=apple-converted-space>&nbsp;</span><b>O(n)</b>,
it is when the list is already sorted.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b><span style='font-size:10.5pt;font-family:Arial;color:black'>Worst-case</span></b><span
                class=apple-converted-space><span style='font-size:10.5pt;font-family:Arial;
color:black'>&nbsp;</span></span><span style='font-size:10.5pt;font-family:
Arial;color:black'>Time Complexity will be<span class=apple-converted-space>&nbsp;</span><b>O(n<sup>2</sup>)</b></span></p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Insertion Sort</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Starts with second element and moves it to forward by comparing with its
            previous elements.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Worst Case Time Complexity :</b> O(n<sup>2</sup>)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Best Case Time Complexity :</b> O(n)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Average Time Complexity :</b> O(n<sup>2</sup>)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Space Complexity : </b>O(1)</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Selection Sort</b></p>

        <p class=MsoNormal>Selects the smallest element and swaps with first element. </p>

        <p class=MsoNormal>Selects the second smallest with second element </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Quick Sort</b></p>

        <p class=MsoNormal>Divide and merge. pivot can be first element </p>

        <p class=MsoNormal>private&nbsp;void&nbsp;quickSort(int&nbsp;low,&nbsp;int&nbsp;high)
        </p>

        <p class=MsoNormal><br>
            Read more:&nbsp;<a
                    href="http://javarevisited.blogspot.com/2014/08/quicksort-sorting-algorithm-in-java-in-place-example.html#ixzz4jiVxsrw9">http://javarevisited.blogspot.com/2014/08/quicksort-sorting-algorithm-in-java-in-place-example.html#ixzz4jiVxsrw9</a></p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Merge Sort</b></p>

        <p class=MsoNormal>Divide and Conquer </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>Important Formulas </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>(n-1)+(n-2)+(n-3)+.....+3+2+1 then Sum = <b>n(n+1)/2</b></p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Depth First Search</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><b>1.<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></b>Traversing
            from one Vertex to all next vertexes until reaching end</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Uses stack</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>AB<br>
            <br>
        </p>

        <p class=MsoNormal><b>Breadth First Search</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>First checks all adjucent vertexes to a node </p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Uses Queue</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Coding Test sample apps</b></p>

        <p class=MsoNormal><b>&nbsp;</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Write code for Tic-Tac-Toe game</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Create Simple Chatting app</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>private&nbsp;void&nbsp;quickSort(int&nbsp;low,&nbsp;int&nbsp;high)
        </p>

        <p class=MsoNormal>{&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; int&nbsp;i&nbsp;=&nbsp;low;&nbsp;int&nbsp;j&nbsp;=&nbsp;high;&nbsp;
        </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; int&nbsp;pivot&nbsp;=&nbsp;input[low&nbsp;+&nbsp;(high&nbsp;-&nbsp;low)&nbsp;/&nbsp;2];&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; while&nbsp;(i
            &lt;=&nbsp;j) {&nbsp;&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; while&nbsp;(input[i]&nbsp;&lt;&nbsp;pivot)
            { </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i++;
            &nbsp;//find bigger than pivot in left side </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; while&nbsp;(input[j]&nbsp;&gt;&nbsp;pivot)
            { </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; j--;
            //find smallar than pivot in right side</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if&nbsp;(i
            &lt;=&nbsp;j) { </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; swap(i,
            j);&nbsp;&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i++;
            j--; </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }
        </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if&nbsp;(low&nbsp;&lt;&nbsp;j)
            { </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; quickSort(low,
            j); </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if&nbsp;(i&nbsp;&lt;&nbsp;high)
            { </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; quickSort(i,
            high); </p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }
        </p>

        <p class=MsoNormal>}<br>
            <br>
        </p>

        <p class=MsoNormal>Notes:</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>if we divide an array half every time using while loop then time
            complexity would b log(N).</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>NOTE :&nbsp;</b>In general, doing something with every item in one
            dimension is linear, doing something with every item in two dimensions is
            quadratic, and dividing the working area in half is logarithmic.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Big Oh</b>&nbsp;denotes &quot;<i>fewer than or the same as</i>&quot;
            &lt;expression&gt; iterations.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Big Omega</b>&nbsp;denotes &quot;<i>more than or the same as</i>&quot;
            &lt;expression&gt; iterations.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Big Theta</b>&nbsp;denotes &quot;<i>the same as</i>&quot;
            &lt;expression&gt; iterations.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Little Oh</b>&nbsp;denotes &quot;<i>fewer than</i>&quot;
            &lt;expression&gt; iterations.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Little Omega</b>&nbsp;denotes &quot;<i>more than</i>&quot;
            &lt;expression&gt; iterations.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>O(expression)</b>&nbsp;is the set of functions that grow slower than
            or at the same rate as expression.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Omega(expression)</b>&nbsp;is the set of functions that grow faster
            than or at the same rate as expression.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span><b>Theta(expression)</b>&nbsp;consist of all the functions that lie in
            both O(expression) and Omega(expression).</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>11.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>stable sort: after sorting order of equal elements is maintained</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>12.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>PreOrder Traverse of Tree is like Depth First Search start from top of
            the tree abc (a parent of b and c)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>13.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>In Order Traverse is like DFS but starts from bottom of tree. Same as
            Pre order i.e bac(a parent of b and c</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>14.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Post Order is like Breadth First Search starts from bottom. bca (a is
            parent of b and c)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>15.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>level order: prints all element of first level then next level then next
            etc. a bc mnop(here b parent of m,n and c parent of o,p)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>16.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Big Oh notation O: <span style='font-size:11.5pt;font-family:Verdana;
color:black;background:transparent'>measures the worst case time complexity of
an algorithm.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>17.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span><span style='font-size:11.5pt;font-family:Verdana;color:black;
background:transparent'>Omega notation : best case time</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>18.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-size:11.5pt;font-family:Verdana;color:black;background:transparent'>Get
top element of a stack without removing it -&gt; use peek(). Because pop()
removes top element.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>19.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-family:"Times New Roman"'>pop operation on array decrements top to lower
position but pop operation on linked list removed the top element means
deallocates the space.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>20.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-family:"Times New Roman"'>a=-1, ++a , value of a in same executing
line is 0 / a=-1, a++, a is -1 </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>21.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-family:"Times New Roman"'>Bubble sort O(n<sup>2</sup>) </span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>22.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-family:"Times New Roman"'>Insertion sort .Pick a element and insert
at correct place in left side sub array. O(n<sup>2</sup>). Not good for large
data</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>23.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-family:"Times New Roman"'>Selection sort. Select smallest values
and put at beginning of right side sub array. O(n<sup>2</sup>)</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>24.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
                style='font-family:"Times New Roman"'>merge sort. divide till single elements.
1. take left part and right part. for loop with length of one part. compare
left array first element with right array first element. what ever is small put
into new array and move pointer of first array to second element. 2. What ever
elements left in right or left arrays put them directly in new array. 3. put
all new array elements into actual array at same index positions.</span></p>

        <p class=MsoListParagraph style='text-indent:-.25in'><span style='font-family:
"Times New Roman"'>25.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span>Stacks
            used for recursive methods. Last in first out.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>26.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Queues used for os level functions like touch events,click interactinos
            First in first out</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>27.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>

    </div>

    </div>
</div>