<h4 class="h-standardMargin">Fitness and Diet</h4>
<div class="container-fluid bg-5 text-center panel-body h-text-align-left">

    <span>    Do Abs 3 Days  a week Upper/Lower/Sides </span>
    <ol>
        <p>Basic rules</p>
        <li>Exercises for bigger muscles should come before exercises for smaller muscles.</li>
        <li>Compound exercises should come before isolation exercises.</li>
        <li>Free weight/body weight exercises should come before machines.</li>
        <li>Most of the exercises do slowly with focus.</li>
    </ol>
    <p>
        <span>1hr and 1 day rest in a week</span>
    <ul>
        <li>Chest + upper abs</li>
        <li>biceps + lower abs</li>
        <li>back + side abs</li>
        <li>legs + upper abs</li>
        <li>triceps+ lower abs</li>
        <li>shoulder+ side abs</li>
    </ul>
    <p>
        For 3 months. Keeps changing exercise type.
    </p>

    <p>
        <strong>Exercise varieties</strong><br>
        Cable crunches (muscular tension) <br>
        Ab wheel rollouts (muscular tension)<br>
        V ups (metabolic stress)<br>
        Weighted planks (metabolic stress)<br>
        Hanging leg rises<br>
    </p>

    <p>
    <ol>
        <strong>FOOD DIET</strong>
        <li> Stop all drinks except water</li>
        <li> No bread rice sugger</li>
        <li>eat only carrots beetroots cucumber capsicum
        chicken breasts, fish,sweet potato,milk,dry fruits,spinach ,beans,dates,oats,meat without
        fat,wholegrain,cabbage,onion,jowar,eggs,grilled,boiled,roasted chicken</li>
        <li>Walk everyday 1hr mrng nd eveng</li>
        <li>Weight training deadlift pressing</li>
        <li>Limited processed food</li>
        <li>Salk as tall as u r</li>
        <li>Sit on knees nd put hands back nd 20 breaths</li>
        <li>More running</li>
        <li>20min keep heart rate up</li>
        <li>Lift weights then do abs</li>
        <li>5 hrs after food .. fasted time</li>
        <li>Don't break muscle tissues to burn fat(how)</li>
    </ol>
    </strong>
    <pre>
    Diet Plan

    <strong>FRUITS</strong>
    Apple
    Oranges
    Grapes
    Papaya
    Pine apple
    Water melon
    Pomegranates

    <strong>VEGGIES</strong>
    Tomatos
    Carrot
    Beet root
    Capsicum
    Cauliflower
    Cucumber
    Soya chunks
    Green leafs

    <strong>DRY FRUITS</strong>
    Dates
    Dry grapes (kismis)
    Almonds

    <strong>OTHERS</strong>
    Brown Rice
    Wheat floor
    Raagi malt
    Oats
    Plain curd

    <strong>BEVERAGES</strong>
    Green Tea (no lemon flavor )
    Lime juice with out sugar
    Toned milk

    <strong>NON VEG</strong>
    Egg whites
    Grilled chicken
    Roasted Fish with out oil

    <strong>NUTS</strong>
    Boiled Corn with salt
    Boiled peas
    Sprouts

    <strong>BREAK FAST</strong>
    broken wheat upma
    idli
    oats with milk/water + honey
    Raagi malt
    toned milk
    </pre>
    <p>
        Any juice with out ice and with out sugar <br>
        no potato, no white rice, no mango , no banana<br>
        stay away from all type of beans<br>
        Try avoid processed food as much as u can<br>
        Completely avoid tea coffee<br>
        Honey instead of sugar<br>
        Lot of water<br>
    </p>

    <a href="http://www.myhealthtips.in/2014/08/indian-diet-plan-to-lose-weight.html">Health Tips Reference Link</a>


</div>