<div class="container gallary-container">
    <h3>Useful Subject Concept Depicts</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="app/assets/images/understand-view-port.png" alt="Chania">
                <div class="carousel-caption">
                    <h3>Understanding Browser ViewPort</h3>
                    <p>Depicted with measurements</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br><br><br>
    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
            <li data-target="#myCarousel1" data-slide-to="2"></li>
            <li data-target="#myCarousel1" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="app/assets/images/spider_man.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Spider Man</h3>
                    <p>My all time favourite marvel character.</p>
                </div>
            </div>

            <div class="item">
                <img src="app/assets/images/track_time.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Track Time</h3>
                    <p>Thought provoking quotes</p>
                </div>
            </div>

            <div class="item">
                <img src="app/assets/images/vizag.jpg" alt="Flower" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Vishakapatanam</h3>
                    <p>Rishi konda beach in Vizag</p>
                </div>
            </div>

            <div class="item">
                <img src="app/assets/images/mulayangiri.jpg" alt="Flower" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Mulayangiri peak</h3>
                    <p>Highest peak in Karnataka Chikmangalore </p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>