<h4 class="h-standardMargin"><%=title%></h4>
<div class="container-fluid text-center panel-body h-text-align-left bg-4">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:"Courier New";
            panose-1:2 7 3 9 2 2 5 2 4 4;}
        @font-face
        {font-family:Times;
            panose-1:2 0 5 0 0 0 0 0 0 0;}
        @font-face
        {font-family:Geneva;
            panose-1:2 11 5 3 3 4 4 4 2 4;}
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        h1
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:24.0pt;
            margin-left:0in;
            line-height:107%;
            border:none;
            padding:0in;
            font-size:20.0pt;
            font-family:Calibri;
            color:#731C3F;
            font-weight:normal;}
        h2
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:15.0pt;
            font-family:Calibri;
            color:#7F7F7F;}
        h3
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:20.0pt;
            font-family:Calibri;
            color:#595959;
            font-weight:normal;}
        h4
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:20.0pt;
            font-family:Calibri;
            color:#595959;
            font-weight:normal;
            font-style:italic;}
        h5
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:17.0pt;
            font-family:Calibri;
            color:#262626;
            font-weight:normal;}
        h6
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:17.0pt;
            font-family:Calibri;
            color:#262626;
            font-weight:normal;
            font-style:italic;}
        p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:17.0pt;
            font-family:Calibri;
            color:#595959;}
        p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:17.0pt;
            font-family:Calibri;
            color:#595959;
            font-style:italic;}
        p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:15.0pt;
            font-family:Calibri;
            color:#262626;}
        p.MsoHeader, li.MsoHeader, div.MsoHeader
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        p.MsoFooter, li.MsoFooter, div.MsoFooter
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        p.MsoCaption, li.MsoCaption, div.MsoCaption
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:10.0pt;
            margin-left:0in;
            font-size:12.0pt;
            font-family:Calibri;
            color:#595959;
            font-style:italic;}
        p.MsoListBullet, li.MsoListBullet, div.MsoListBullet
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:.3in;
            text-indent:-.3in;
            line-height:107%;
            font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        p.MsoListNumber, li.MsoListNumber, div.MsoListNumber
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:.3in;
            text-indent:-.3in;
            line-height:107%;
            font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        p.MsoTitle, li.MsoTitle, div.MsoTitle
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:3.0pt;
            margin-left:0in;
            font-size:33.0pt;
            font-family:Calibri;
            color:#262626;
            text-transform:uppercase;}
        p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:26.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:20.0pt;
            font-family:Calibri;
            color:#595959;
            text-transform:uppercase;}
        a:link, span.MsoHyperlink
        {color:#731C3F;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:#214C5E;
            text-decoration:underline;}
        em
        {color:#262626;
            font-weight:bold;
            font-style:normal;}
        span.MsoPlaceholderText
        {color:gray;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:Calibri;}
        p.MsoQuote, li.MsoQuote, div.MsoQuote
        {margin-top:12.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:18.0pt;
            font-family:Calibri;
            color:#595959;
            font-style:italic;}
        p.MsoIntenseQuote, li.MsoIntenseQuote, div.MsoIntenseQuote
        {margin-top:12.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:18.0pt;
            font-family:Calibri;
            color:#595959;
            font-weight:bold;
            font-style:italic;}
        span.MsoSubtleEmphasis
        {color:#404040;
            font-style:italic;}
        span.MsoIntenseEmphasis
        {color:#262626;
            font-weight:bold;
            font-style:italic;}
        span.MsoSubtleReference
        {font-variant:normal !important;
            color:#262626;
            text-transform:uppercase;}
        span.MsoIntenseReference
        {font-variant:normal !important;
            color:#262626;
            text-transform:uppercase;
            letter-spacing:0pt;
            font-weight:bold;}
        span.MsoBookTitle
        {letter-spacing:0pt;
            font-weight:normal;
            font-style:normal;
            text-decoration:underline;}
        p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading
        {margin-top:23.0pt;
            margin-right:0in;
            margin-bottom:24.0pt;
            margin-left:0in;
            line-height:107%;
            border:none;
            padding:0in;
            font-size:20.0pt;
            font-family:Calibri;
            color:#731C3F;}
        span.Heading1Char
        {font-family:Calibri;
            color:#731C3F;}
        span.TitleChar
        {font-family:Calibri;
            color:#262626;
            text-transform:uppercase;}
        span.SubtitleChar
        {font-family:"Times New Roman";
            text-transform:uppercase;}
        span.Heading2Char
        {font-family:Calibri;
            color:#7F7F7F;
            font-weight:bold;}
        span.Heading3Char
        {font-family:Calibri;}
        span.Heading4Char
        {font-family:Calibri;
            font-style:italic;}
        span.Heading5Char
        {font-family:Calibri;
            color:#262626;}
        span.Heading6Char
        {font-family:Calibri;
            color:#262626;
            font-style:italic;}
        span.Heading7Char
        {font-family:Calibri;}
        span.Heading8Char
        {font-family:Calibri;
            font-style:italic;}
        span.Heading9Char
        {font-family:Calibri;
            color:#262626;}
        span.QuoteChar
        {font-style:italic;}
        span.IntenseQuoteChar
        {font-weight:bold;
            font-style:italic;}
        .MsoChpDefault
        {font-size:15.0pt;
            font-family:Calibri;
            color:#595959;}
        .MsoPapDefault
        {margin-bottom:6.0pt;
            line-height:107%;}
        /* Page Definitions */
        @page WordSection1
        {size:8.5in 11.0in;
            margin:.5in 1.0in 1.25in 1.0in;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0in;}
        ul
        {margin-bottom:0in;}
        -->
    </style>

    </head>

    <div lang=EN-US link="#731C3F" vlink="#214C5E" class="h-standardMargin">

    <div class=WordSection1>

        <div style='border:none;border-bottom:solid #56152F 1.5pt;padding:0in 0in 12.0pt 0in'>

            <h1>Common Skills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h1>

        </div>

        <p class=MsoNormal><b>Object Creational Pattern</b></p>

        <p class=MsoNormal>1. Factory&nbsp; - creates obj based on factory class
            constructor argument type(shape - circle, rect,square) </p>

        <p class=MsoNormal>2. Singleton&nbsp; - Maintains single instance of an object</p>

        <p class=MsoNormal>3. Prototype&nbsp; - Clones the object of already created
            and stored in a hashtable or somewhere</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Structural Pattern</b></p>

        <p class=MsoNormal>4. Adapter
            &nbsp;-&nbsp;bridge&nbsp;between&nbsp;two&nbsp;incompatible&nbsp;interfaces.</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Behavioral Pattern</b></p>

        <p class=MsoNormal>5. Command - uses execute method to completed tasks for
            registered/added commands. Nothing but list of added methods)</p>

        <p class=MsoNormal>6. Observer -&nbsp;Subject, Observer and Client. When
            Subject changed observer will notify all registered clients.</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Others Patterns</b></p>

        <p class=MsoNormal>7. Data&nbsp;Access&nbsp;Object&nbsp;Pattern</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- DAO interface to hold
            operations to be performed on a model.</p>

        <p class=MsoNormal>&nbsp; &nbsp; &nbsp;- DAO concrete to get data from data
            sources&nbsp;</p>

        <p class=MsoNormal>&nbsp; &nbsp; &nbsp;- Model Obj/ Value Obj - a class of
            getter setters&nbsp;</p>

        <p class=MsoNormal>8. MVC - separates view and model using controller &nbsp;</p>

        <p class=MsoNormal>9. Front Controller Pattern</p>

        <p class=MsoNormal>&nbsp; &nbsp; &nbsp;-&nbsp;provide&nbsp;a&nbsp;centralized&nbsp;request&nbsp;handling&nbsp;mechanism.&nbsp;so&nbsp;that&nbsp;all&nbsp;requests&nbsp;will&nbsp;be&nbsp;handled&nbsp;by&nbsp;a&nbsp;single&nbsp;handler.</p>

        <p class=MsoNormal>&nbsp; &nbsp; &nbsp;- Front Controller class uses Dispatcher
            class to dispatch request to a Handler </p>

        <p class=MsoNormal>&nbsp; &nbsp; &nbsp;- View class - requests made from
            views&nbsp; </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
17.0pt;text-autospace:none'><span style='font-family:Times;color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
20.0pt;text-autospace:none'><span style='font-family:Geneva;color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
17.0pt;text-autospace:none'><span style='font-size:14.0pt;font-family:Times;
color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal>General</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>An <b>automorphic</b> number is a number whose square ends in the same
            digits as the number itself. For example, 6 = 36, 5 = 25, 25 =&nbsp;<b>625</b></p>

        <p class=MsoListParagraph style='text-indent:-.25in'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Polyndrome</b>: 121, 252 etc</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Armstrong</b> : 153 = 1**3 + 5**3 + 3**3 ;// 0,1, 153, 370, 371 , 497
            etc</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Perfect</b> sum of all divisors of N equals to N. 6 divisors 1,2,3
            and 1+2+3 = 6 so 6 is perfect number.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>A&nbsp;<b>Duck number</b>&nbsp;is a&nbsp;<b>number</b>&nbsp;which has
            zeroes present in it, but there should be&nbsp;<b>no</b>zero present in the
            beginning of the&nbsp;<b>number</b>. For example 3210, 7056, 8430709 are
            all&nbsp;<b>duck numbers</b>&nbsp;whereas 08237, 04309 are not.</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Fibonacci sequence: </b>0, 1, 1, 2, 3, 5, 8 etc</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scalars will have only magnitude no direction</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>altitude - height of a flying object</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>acceleration is rate change of speed</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>BMI = should be around 0.25 . height in meters/ weight in kgs</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>11.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>1km = 0.62 miles (mile is more)</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>12.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>1m = 3.28 feet</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>13.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Difference bw radians and degrees</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>14.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Diff bw celcious and Fahrenheit c = (f-32) 5/9</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>15.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>bit masking used to store multiple enable/disable flags in one number<br>
            FeatureA = 0001<br>
            FeatureB = 0010<br>
            FeatureC = 0100<br>
            To enable only feature A and C and send in one number do as below<br>
            FeatureA | FeatureC =&gt; 0001 | 0100 = 0101 = finalSendValue<br>
            Now to check is FeatureA enabled or not do as below<br>
            if(finalSendValue &amp; FeatureA == FeatureA) because 0101 &amp; 0001 = 0001 so
            Feature A enabled has been identified using 0101</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>16.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>http://www.mytechinterviews.com/how-strong-is-your-egg</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>17.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>how random numbers/ pseudo random number generators works? hard ware
            real random number generators?</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>18.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>Google expects dash separated name of files. ex my-first-post.html</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>19.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>This_is_a_single_word , but&nbsp;this-is-multiple-words</p>

        <p class=MsoListParagraph style='text-indent:-.25in'>20.<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>isEven = function (n) {</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
            ((n&gt;&gt;&gt;0).toString(2) &amp; 1) == 0;</p>

        <p class=MsoNormal>}</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>isFloat = function (n) {</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
            n%1!==0;</p>

        <p class=MsoNormal>}</p>

        <p class=MsoNormal>isFloat = function (n) {</p>

        <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return
            n === +n &amp;&amp; n !== (n|0);</p>

        <p class=MsoNormal>}</p>

        <h2><span style='font-weight:normal'>&nbsp;</span></h2>

    </div>

    </div>
</div>