<div class="container-fluid text-center">
    <h1>Welcome to Uday Sravan's blog</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left h-text-md">
            <div class="container-fluid bg-2 text-left h-standard-padding">

                <p>Hello there! I am uday. Thanks for visiting my blog.</p>

                <p>Here I would like to share everything that I think it's useful to someone somewhere on the
                    globe!</p>
                <ul>
                    <li>My work experience</li>
                    <li>My lifestyle</li>
                    <li>My learnings</li>
                    <li>Some useful articles</li>
                    <li>Some interesting pictures of places I have visited</li>
                    <li>My thoughts and opinions</li>
                </ul>
            </div>
            <hr>
            <h2><strong>Latest articles</strong></h2>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><p>JavaScript Programs</p></div>
                    <a href="#js-programs">
                        <div class="panel-body"><p>Useful questions on coding and my solutions with working code snippets.</p>
                        </div>
                    </a>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading"><p>Android Technologies</p></div>
                    <a href="#android-notes">
                        <div class="panel-body"><p>Notes and Questions on important concepts and useful bullet notes. Reference links of sources.</p></div>
                    </a>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading"><p>Web Technologies </p></div>
                    <a href="#web-interview">
                        <div class="panel-body"><p>Notes and Questions on Javascript, HTML5 and CSS. Some concepts with bullet notes and useful links</p></div>
                    </a>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><p>iOS Technologies </p></div>
                    <a href="#ios-interview">
                        <div class="panel-body"><p>Notes and Questions.Wide range of iOS interview question on most of the concepts and some important notes<p></div>
                    </a>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading"><p>Data Structures and Algorithms</p></div>
                    <a href="#ds-algo-notes">
                        <div class="panel-body"><p>Notes, Questions and code snippets of DS and Algorithm concepts<p></div>
                    </a>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading"><p>General Concepts </p></div>
                    <a href="#general-notes">
                        <div class="panel-body"><p>Notes and Questions on Software and general essential concepts.<p></div>
                    </a>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading"><p>Angular JS </p></div>
                    <a href="#angular-notes">
                        <div class="panel-body"><p>Notes and Questions on Angular JS framework concepts<p></div>
                    </a>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><p>React JS </p></div>
                    <a href="#reactjs-notes">
                        <div class="panel-body"><p>Notes and Questions on React JS framework concepts<p></div>
                    </a>
                </div>
            </div>
            <em class="h-text-sm">This site is still under development. So you may face some issues in browsing. Sorry about that.</em>

        </div>
    </div>
</div>

