<h4 class="h-standardMargin"><%=title%></h4>
<div class="container-fluid text-center panel-body h-text-align-left bg-5">
    <style>
        <!--
        /* Font Definitions */
        @font-face
        {font-family:Arial;
            panose-1:2 11 6 4 2 2 2 2 2 4;}
        @font-face
        {font-family:"Courier New";
            panose-1:2 7 3 9 2 2 5 2 4 4;}
        @font-face
        {font-family:Times;
            panose-1:2 0 5 0 0 0 0 0 0 0;}
        @font-face
        {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
            margin-bottom:.0001pt;
            line-height:115%;
            font-size:11.0pt;
            font-family:Arial;
            color:black;}
        h1
        {margin-top:20.0pt;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:20.0pt;
            font-family:Arial;
            color:black;
            font-weight:normal;}
        h2
        {margin-top:.25in;
            margin-right:0in;
            margin-bottom:6.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:16.0pt;
            font-family:Arial;
            color:black;
            font-weight:normal;}
        h3
        {margin-top:16.0pt;
            margin-right:0in;
            margin-bottom:4.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:14.0pt;
            font-family:Arial;
            color:#434343;
            font-weight:normal;}
        h4
        {margin-top:14.0pt;
            margin-right:0in;
            margin-bottom:4.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:12.0pt;
            font-family:Arial;
            color:#666666;
            font-weight:normal;}
        h5
        {margin-top:12.0pt;
            margin-right:0in;
            margin-bottom:4.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:11.0pt;
            font-family:Arial;
            color:#666666;
            font-weight:normal;}
        h6
        {margin-top:12.0pt;
            margin-right:0in;
            margin-bottom:4.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:11.0pt;
            font-family:Arial;
            color:#666666;
            font-weight:normal;
            font-style:italic;}
        p.MsoTitle, li.MsoTitle, div.MsoTitle
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:3.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:26.0pt;
            font-family:Arial;
            color:black;}
        p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:16.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:15.0pt;
            font-family:Arial;
            color:#666666;}
        a:link, span.MsoHyperlink
        {color:blue;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:purple;
            text-decoration:underline;}
        p
        {margin-right:0in;
            margin-left:0in;
            font-size:10.0pt;
            font-family:Times;}
        code
        {font-family:Courier;}
        pre
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:10.0pt;
            font-family:Courier;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            margin-bottom:.0001pt;
            line-height:115%;
            font-size:11.0pt;
            font-family:Arial;
            color:black;}
        p.Normal1, li.Normal1, div.Normal1
        {margin:0in;
            margin-bottom:.0001pt;
            line-height:115%;
            font-size:11.0pt;
            font-family:Arial;
            color:black;}
        p.para, li.para, div.para
        {margin-right:0in;
            margin-left:0in;
            font-size:10.0pt;
            font-family:Times;}
        span.HTMLPreformattedChar
        {font-family:Courier;
            color:windowtext;}
        .MsoChpDefault
        {font-size:11.0pt;
            font-family:Arial;
            color:black;}
        .MsoPapDefault
        {line-height:115%;}
        @page WordSection1
        {size:8.5in 11.0in;
            margin:1.0in 1.0in 1.0in 1.0in;}
        div.WordSection1
        {page:WordSection1;}
        /* List Definitions */
        ol
        {margin-bottom:0in;}
        ul
        {margin-bottom:0in;}
        -->
    </style>



    <div bgcolor=white lang=EN-US link=blue vlink=purple class="h-standardMargin">

    <div class=WordSection1>

        <p class=Normal1>1. Why header files? can we import .m file also?</p>

        <p class=Normal1>2. Compiler converts from which to which format? and name of
            compiler? .m to executable files</p>

        <p class=Normal1>3. is Objective-C a procedural? what is procedural language?
            and what r other types of prog langs?</p>

        <p class=Normal1>4. Do you know user interactive components like
            button,textfields,dropdown, radio,scroll view etc?How they work?</p>

        <p class=Normal1>5. What do u know bat ARC?</p>

        <p class=Normal1>6. Do you know evolution of iOS,apple? and what are latest in
            iOS like version feature ,problems etc?</p>

        <p class=Normal1>7. What happens to log messages in production build?</p>

        <p class=Normal1>8. Can you write/readout syntax of a block?</p>

        <p class=Normal1>9. Debugging tips?How to see crash stack report from Xcode?</p>

        <p class=Normal1>10. How to support multi screens.know differnet devices and
            resolutions</p>

        <p class=Normal1>11. What are different storages we use in iOS ,How to access
            database?</p>

        <p class=Normal1>12. Should class name of header file and file name must be
            same? what about .m file? what about multiple classes?</p>

        <p class=Normal1>13. What is alloc,malloc,calloc,realloc,free ?</p>

        <p class=Normal1>14. Do you how to write unit test cases for an iOS app? any
            automation process about iOS app?</p>

        <p class=Normal1>15. Hav u encoutered memory issue while developing app and how
            u fixed.</p>

        <p class=Normal1>16. Explain about app/view life cycle</p>

        <p class=Normal1>17. What happens if delegate method called but not implemented
            in listener class?</p>

        <p class=Normal1>18. Supporting audio file formats?</p>

        <p class=Normal1>19. What is forward declaration of class and why?</p>

        <p class=Normal1>20. Storyboards uses which language?</p>

        <p class=Normal1>21. what is isa,id?</p>

        <p class=Normal1>22. How do u support localization?</p>

        <p class=Normal1>23. How many types of libraries we have ?diff bw static lib
            and dynamic lib?</p>

        <p class=Normal1>24. Do you know about pod files?</p>

        <p class=Normal1>25. What is dSYM file job?</p>

        <p class=Normal1>26. LLVM stands for?</p>

        <p class=Normal1>27. What is code signing?</p>

        <p class=Normal1>28. Dynamic Lib ,Static Lib, Bundle, Relocatable Obj file?</p>

        <p class=Normal1>29. How to lock orientation?</p>

        <p class=Normal1>30. Diff bw category and subclass</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp;&nbsp; cat - can only add new methods to
            existing class , canÕt add properties or variables</p>

        <p class=Normal1>31. Diff bw variable and property</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp;&nbsp; prop are declare+synthasize auto
            handle for memory management</p>

        <p class=Normal1>32. what is .ivar&nbsp; -internal variable like _varialbe
            inside get ,setter methods</p>

        <p class=Normal1>33. Can you write syntax for custom protocol?</p>

        <p class=Normal1>34. How to type case string to int?</p>

        <p class=Normal1>35. diff bw id(instance of any class) and instancetype(
            definitely receiving an instance of the same class or subclass of the class)?</p>

        <p class=Normal1>36. How can I access single keychain login info for two apps
            in device.?ans by giving same app seed id to both apps.</p>

        <p class=MsoNormal>37. Split view ,picture in picture,3d touch (<span
                style='font-size:10.0pt;line-height:115%;background:transparent'>Peek and Pop</span>),
            iPad pro, wallet, Slide Over?</p>

        <p class=Normal1>38. File Template library, code snippet library, object
            library,Media library in Xcode?</p>

        <p class=Normal1>39. Reflection to show iPad screen on desktop?</p>

        <p class=Normal1>40. What is anonymous categories (i.e extensions) and diff bw
            subclass,category,extensions and protocol?</p>

        <p class=Normal1>41. Extended instance variable are private or public?</p>

        <p class=Normal1>42. Accessors for atomic properties must both be either
            generated or user-defined?</p>

        <p class=Normal1>43. Do we have access specifiers in iOS, if yes then how do
            they work?What is default?</p>

        <p class=Normal1>44. @dynamic tells to compiler implementation is some where
            else in super classes</p>

        <p class=Normal1>45. Terminal command to Generat .pem file from exported .p12.
            APNs</p>

        <p class=Normal1>46. Ways to declare global constants and types of constants?</p>

        <p class=Normal1>47. Have you worked with UIWebView and how to call js methods
            and vice versa?</p>

        <p class=Normal1>48. How touch propagate works in iOS?</p>

        <p class=Normal1>49. Diff bw release and auto release , copy and retain?</p>

        <p class=Normal1>50. wt is memory leak?non released with zero ref count</p>

        <p class=Normal1>51. dangling pointer leads to invalid memory
            address,undefined,call release two times</p>

        <p class=Normal1>52. dynamic memory and static memory</p>

        <p class=Normal1>53. extern keyword say to runtime that obj definition is
            somewhere external.means not in same file.which gives linking error</p>

        <p class=Normal1>54. static allocates memory at compile time. Compilation
            errors</p>

        <p class=Normal1>55. calloc initializes all bytes in the allocation block to
            zero. allocates memory in runtime </p>

        <p class=Normal1>56. malloc initializes all bytes in the allocation block to
            undefined. allocates memory in compile time</p>

        <p class=Normal1>57.stack memory - fast,local variable only,no resize</p>

        <p class=Normal1>58. heap memory - slow,global,resize</p>

        <p class=Normal1>59. What is DRY principle</p>

        <p class=Normal1>60. //Create 500 bytes on the stack char buffer[500]; //Create
            500 bytes on the heap&nbsp;&nbsp;&nbsp;&nbsp; pBuffer = new char[500];</p>

        <p class=Normal1>61. wt is stack over flow</p>

        <p class=Normal1>62. How strong reference ,week reference works </p>

        <p class=Normal1>63. Have u worked on web services ? what do u know about
            RESTful services, SOAP services.</p>

        <p class=Normal1>64. Diff bw get,post methods</p>

        <p class=Normal1>65. How iOS file storage works.is there any public space for
            all apps? how to access it?</p>

        <p class=Normal1>66. How do u achieve caching of images to long scrolls in
            shopping apps?</p>

        <p class=Normal1>67. Learn about cocoa frameworks?</p>

        <p class=Normal1>68. Have you worked on animations? Which library u have used?</p>

        <p class=Normal1>69. How do achieve log running background tasks in iOS?</p>

        <p class=Normal1>70. How do you support multiple screens?</p>

        <p class=Normal1>71. Tell few resolutions of apple devices?</p>

        <p class=Normal1>72. Do you how to integrate crash reporters and third party
            frameworks like twitter, Facebook?</p>

        <p class=Normal1>73. What are the sensors you know in apple devices?</p>

        <p class=Normal1>74. Do you know swift ? Have you tried working on it? anything
            intersting u found on it?</p>

        <p class=Normal1>75. Did you work on maps? </p>

        <p class=Normal1>76. Explain Encapsulation, polymorphism, inheritance ?</p>

        <p class=Normal1>77. Do you about apple watch?</p>

        <p class=Normal1>78. Explain flow of app store submission process?</p>

        <p class=Normal1>79. Do you any versioning tool like git,svn,bit bucket?</p>

        <p class=Normal1>80. Do you answer stack overflow questions?</p>

        <p class=Normal1>81. How to terminate for loop with out keywords?</p>

        <p class=Normal1>82. How GCD works? What is it?</p>

        <p class=Normal1>83. Simulator vs emulator?</p>

        <p class=Normal1>84. diff bw CGFloat and float?</p>

        <p class=Normal1>85. what is key value coding? and KVO?</p>

        <p class=Normal1>86. xml vs json?</p>

        <p class=Normal1>87. get vs post?</p>

        <p class=Normal1>88. Do you know any lldb commands?</p>

        <p class=Normal1>89. MIME stands for? Multipurpose Internet Mail extensions</p>

        <p class=Normal1>90. JPEG - joint photograph expert group? Portable Network
            Graphics</p>

        <p class=Normal1>91. json - java script object notation</p>

        <p class=Normal1>92. xml extended markup language</p>

        <p class=Normal1>94. GCC- GNU Compiler Collection</p>

        <p class=Normal1>95. GDB - GCC Debugger</p>

        <p class=Normal1>96. LLVM - Low Level Virtual Machine</p>

        <p class=Normal1>97. What is kernel ? The program in a Unix-like system that
            allocates machine resources and talks to the hardware is called the ÒkernelÓ.</p>

        <p class=Normal1>98. Default values for If you donÕt initialize NSString
            ,NSInteger,int,CGFloat ?</p>

        <p class=Normal1>99. Projects you worked followed which methodologies?</p>

        <p class=Normal1>100. NULL = (void*)0 ,Nil = (class)0, nil = (id)0</p>

        <p class=Normal1>101. diiffenec bw deprecated and obsolete ?</p>

        <p class=Normal1>102. How to write conditional importing? yes by using
            preprocessors Conditional compilation.</p>

        <p class=Normal1>103. compilation of Objective-C programs from source code to
            executable binary is a three phase process</p>

        <p class=Normal1>phase 1 : a tool called the preprocessor scans the human
            written source code and converts it to compiler friendly content and format</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>phase 2 : In the second phase the compiler generates object
            code (usually in the form of file with a .o filename extension) from the
            preprocessed source code </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>phase 3 : Finally, the linker brings all the object code
            modules and libraries together, resolves symbol references and creates the
            executable binary.</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>104. How to communicate bw apps on same device and other
            devices?</p>

        <p class=Normal1>105. What is the difference between NS_ENUM and NS_OPTIONS?</p>

        <p class=Normal1>106. Super class of AppDelegate class is UIResponder</p>

        <p class=Normal1>107. makeKeyAndVisible method does what?</p>

        <p class=Normal1>108. Dynamic library vs static library (static framework&nbsp;
            is compiled .a file ,static library is subproject)</p>

        <p class=Normal1>These are the only things I am aware of as of now . Will add
            here If I find something else</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>109. 4 Tablets </p>

        <p class=Normal1>110. How would you fill out exact 4 liters in a Can of 5
            liters and another Can of 3 liters, with unlimited supply of water?Ó</p>

        <p class=Normal1>111. what is the angle between the hour hand and minute hand
            in between 2:20</p>

        <p class=Normal1>112. What is agile ?</p>

        <p class=Normal1><a
                href="http://www.tutorialspoint.com/sdlc/sdlc_agile_model.htm">http://www.tutorialspoint.com/sdlc/sdlc_agile_model.htm</a>&nbsp;
        </p>

        <p class=Normal1><a href="http://www.agilenutshell.com/">http://www.agilenutshell.com/</a>&nbsp;
        </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>113. What is SDLC? </p>

        <p class=Normal1>114. Sort two numbers without using temp</p>

        <p class=Normal1>115. a*b = b*a commutative principle </p>

        <p class=Normal1>116. perfect squares will have odd no of factors (ex 1,4,9,16
            (factors for 16 Ð 1,2,4,8,16)</p>

        <p class=Normal1>117. 8 chocolates 7 equal weight = no of iterations to find
            the odd one(best and worst case)</p>

        <p class=Normal1>118. 25 horses problem</p>

        <p class=Normal1>119. elephant weight prblm.1kg = 2.2 pounds</p>

        <p class=Normal1>120. <span class=renderedqtext>Http / Https&nbsp;</span></p>

        <p class=Normal1><span class=renderedqtext>121. Can you write logic for
palindrome (121)</span></p>

        <p class=Normal1><span class=renderedqtext>122. Fibonacci (1,1,2,3,5,8,13É.)</span></p>

        <p class=Normal1>123. Error vs Exception (java.lang.OutOfMemoryError,
            Java.lang.NoClassDefFoundError, java.lang.UnSupportedClassVersionError&nbsp;
            FileNotFoundException,ArrayIndexOutOfBoundsException , NullPointerException</p>

        <p class=Normal1>Error is not meant to catch .&nbsp; Error are often fatal in
            nature and recovery from Error is not possible.</p>

        <p class=Normal1>124. Syntax for enum </p>

        <p class=Normal1>125. How can we stop UITableView to create new UITableViewCell
            on the time of scrolling?</p>

        <p class=Normal1>126. Explain about strong ,weak reference on board</p>

        <p class=Normal1>127. NSPointerArray *weakRefArray = [[NSPointerArray alloc]
            initWithOptions: NSPointerFunctionsWeakMemory]; </p>

        <p class=Normal1>since NSArray normally stores a strong reference to its
            members.</p>

        <p class=Normal1>128. Steps to do memory profiling?</p>

        <p class=Normal1>129 [[NSOperationQueue mainQueue]
            addOperationWithBlock:^{&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            self.alert.text = @&quot;Thanks!&quot;;&nbsp;&nbsp;&nbsp;&nbsp; }];</p>

        <p class=Normal1>main thread to update UI related stuff</p>

        <p class=Normal1>130. What is the order of gcd operations and operation queues </p>

        <p class=Normal1>131. How to requests extra execution time ?&nbsp;
            beginBackgroundTaskWithExpirationHandler </p>

        <p class=Normal1>http://stackoverflow.com/questions/11044095/ios-keep-an-app-running-like-a-service
        </p>

        <p class=Normal1>132. Interapp communication/ url schemas</p>

        <p class=Normal1>https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html
        </p>

        <p class=Normal1>133. What method will be executed when local/remote
            notification hit your device for a specific app.</p>

        <p class=Normal1>https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/index.html
        </p>

        <p class=Normal1>134. Code for convert string to integer , vice versa</p>

        <p class=Normal1>135. if ([UIImagePickerController isSourceTypeAvailable:
            UIImagePickerControllerSourceTypeCamera])&nbsp;&nbsp;&nbsp; // Has camera</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>136. Data persistence and sand boxing
            http://code.tutsplus.com/tutorials/data-persistence-and-sandboxing-on-ios--mobile-14078
        </p>

        <p class=Normal1>Documents directory&nbsp; = user data</p>

        <p class=Normal1>Library directory = app data (cache,preferences(.plist)</p>

        <p class=Normal1>Tmp directory =</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>SQLite is portable = server less </p>

        <p class=Normal1>SQLite and Objective-C -Object Relational Mapping (ORM)
            solution is Core Data</p>

        <p class=Normal1>136. What is core data</p>

        <p class=Normal1>137. How do you try to solve one technical issue /bug</p>

        <p class=Normal1>138. What is signature of a method?</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Who
            (Certificates Ð has the app been signed with a private key, which has a
            corresponding public key in the provisioning profile. The certificate also
            associates the developer with a development team) </p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; What
            (Individual App ID Ð Does the Bundle Identifier set in your Info.plist match
            the App ID in the provisioning profile?) </p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where
            (Devices Ð Is the device contained in the provisioning profile?)</p>

        <p class=Normal1>https://developer.xamarin.com/guides/ios/getting_started/installation/device_provisioning/#Provisioning_for_Application_Services
        </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>iCloud Storage, which includes three types of storage:</p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; key-value
            storage</p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; document
            storage</p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Core
            Data storage.</p>

        <p class=Normal1>139. What is Lazy Loading</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>140 life cycle of UIViewController : viewDidLoad,
            viewWillAppear, viewDidAppear, viewWillDisappear, viewDidDisappear</p>

        <p class=Normal1>141. life cycle of UIView : awakeFromNib, willMoveToSuperView,
            didMoveToSuperView</p>

        <p class=Normal1>http://chrisrisner.com/categories </p>

        <p class=Normal1>willRotateToInterfaceOrientation&nbsp;
            UIInterfaceOrientationLandscapeLeft</p>

        <p class=Normal1>142. What do u know about app thinning?</p>

        <p class=Normal1>143. What is app store slicing operation? On downloading app
            from app store , End users get just the resources needed for their device</p>

        <p class=Normal1>144. What is On-demand resources? additional content for the
            app on the iTunes App Store repository.</p>

        <p class=Normal1>145. What is Energy gauge for iOS ?</p>

        <p class=Normal1>146. Read-eval-print loop (REPL) in LLDB. Xcode 6 </p>

        <p class=Normal1>147. View debugging ?</p>

        <p class=Normal1>&nbsp;148. iOS developers can now create dynamic frameworks
            from xcode 6</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>https://developer.apple.com/library/ios/documentation/DeveloperTools/Conceptual/WhatsNewXcode/Articles/xcode_7_0.html
        </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>149. iOS&nbsp; Stack views</p>

        <p class=Normal1>150. What is beta period of test flight? 60 days </p>

        <p class=Normal1>151. Why size classes? Compact,regular ,any </p>

        <p class=Normal1>152. What green dot indicated in size class control</p>

        <p class=Normal1>153. What is an extension point? sharing, Notification Center,
            and the iOS keyboard</p>

        <p class=Normal1>an app that contains one or more extensions is called a
            containing app</p>

        <p class=Normal1>154. If you override a method using category , u canÕt call
            super method as we do in subclassing</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>155. @dynamic </p>

        <p class=Normal1>#import &lt;objc/runtime.h&gt;</p>

        <p class=Normal1>void dynamicMethodIMP(id self, SEL _cmd) {</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; // implementation ....</p>

        <p class=Normal1>}</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>+ (BOOL)resolveInstanceMethod:(SEL)aSEL</p>

        <p class=Normal1>{</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; if (aSEL ==
            @selector(resolveThisMethodDynamically)) {</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            class_addMethod([self class], aSEL, (IMP) dynamicMethodIMP, &quot;v@:&quot;);</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return YES;</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; }</p>

        <p class=Normal1>156. about blocks</p>

        <p class=Normal1>void(^simpleBlock)(void)=^{</p>

        <p class=Normal1>//some print info</p>

        <p class=Normal1>};</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>int anInteger = 42;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; void (^testBlock)(void) = ^{</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            NSLog(@&quot;Integer is: %i&quot;, anInteger);</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; };</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; anInteger = 84;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;&nbsp;&nbsp; testBlock();</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>output is Integer is:42</p>

        <p class=Normal1>157. </p>

        <p class=Normal1>use __block Variables to Share Storage then out is 84</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>158. -&nbsp;&nbsp; (void)beginTaskWithCallbackBlock:(void
            (^)(void))callbackBlock;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>159. XYZBlockKeeper * __weak weakSelf = self;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>160. #define DebugLog(...) NSLog(__VA_ARGS__)</p>

        <p class=MsoNormal>161. <span style='font-size:10.5pt;line-height:115%;
color:#333333;background:transparent'>What is the difference between storing
data on the heap vs. on the stack? </span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>162. What is the number 21 in binary format? And in hex</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>163.
</span><span style='font-size:10.5pt;line-height:115%;color:#333333;background:
transparent'>How do you find out if a number is a power of 2? And how do you
know if it is an odd number?</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>164.
</span><span style='font-size:10.5pt;line-height:115%;color:#333333;background:
transparent'>Can you name the different tiers and responsibilities in an N-tier
architecture? </span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>165. Can you name any differences between
object-oriented design and component-based design? </span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>166. What do you care about most when reviewing
somebody elseÕs code? </span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>167. How can you changes already committed msg in git</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>168. Tell me scope of one of ur project worked for</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>169. We use AF networking / alamofire to encrypt http
traffic from ios apps with TLS</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>170. Test flight helps to avoids getting UDIDs from
testers and creating provisioning profiles.</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>171. Test flight used ad hock discribution to release
beta releases to peers through test flight app.</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>172. Provisioning profile will have all list of UDIDs
and its missing connectivity bw certifcate and device.</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>173. Transport Layer Security (<b>TLS</b>) and its
predecessor, Secure Sockets Layer (<b>SSL</b>), both frequently referred to as
&quot;<b>SSL</b>&quot;, are cryptographic protocols</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>174. Communcation bw objective-c and swift files using
brdige files</span></p>

        <p class=MsoNormal><span style='font-size:10.5pt;line-height:115%;color:#333333;
background:transparent'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>&nbsp;</span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;line-height:115%;color:windowtext'>&nbsp;</span></p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>Read more: http://java67.blogspot.com/2012/12/difference-between-error-vs-exception.html#ixzz3yZFdGB5N</p>

        <p class=Normal1>.</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>Search for 'iOS Interview Questions' in google and try to
            cover maximum</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Content
            view controllers manage a discrete piece of your appÕs content and are the main
            type of view controller that you create. </p>

        <p class=Normal1>¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Container
            view controllers collect information from other view controllers (known as
            child view controllers) and present it in a way that facilitates navigation or
            presents the content of those view controllers differently. </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>Source websites :</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1><a href="http://www.techotopia.com"><span style='color:#1155CC'>http://www.techotopia.com</span></a>
        </p>

        <p class=Normal1><a href="http://nshipster.com/"><span style='color:#1155CC'>http://nshipster.com/</span></a></p>

        <p class=Normal1><a href="https://developer.apple.com/library/ios/navigation/"><span
                style='color:#1155CC'>https://developer.apple.com/library/ios/navigation/</span></a>
        </p>

        <p class=Normal1><a
                href="https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ObjCRuntimeRef/index.html#//apple_ref/c/func/class_addMethod">https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ObjCRuntimeRef/index.html#//apple_ref/c/func/class_addMethod</a>
        </p>

        <p class=Normal1><a href="http://www.tutorialspoint.com/objective_c/index.htm">http://www.tutorialspoint.com/objective_c/index.htm</a>
        </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>Help </p>

        <p class=Normal1><a href="https://www.interviewbit.com/">https://www.interviewbit.com/</a>
        </p>

        <p class=Normal1><a
                href="http://www.programcreek.com/2012/11/top-10-algorithms-for-coding-interview/">http://www.programcreek.com/2012/11/top-10-algorithms-for-coding-interview/</a>
        </p>

        <p class=Normal1>&nbsp;</p>

        <p class=Normal1>Learn Swift </p>

        <p class=Normal1><a
                href="https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/TypeCasting.html#//apple_ref/doc/uid/TP40014097-CH22-ID338">https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/TypeCasting.html#//apple_ref/doc/uid/TP40014097-CH22-ID338</a>
        </p>

        <p class=Normal1>-----------------------------</p>

        <p class=Normal1>Thank you,</p>

        <p class=Normal1>Uday Sravan K</p>

        <p class=Normal1>Sr Software Engineer | Cell: 9686602660</p>

        <p class=Normal1><a href="https://corporate.target.com/india"><span
                style='color:#1155CC'>Target Corporation India Pvt Ltd</span></a> | Bangalore |
            India - 560045</p>

        <p class=Normal1>&nbsp;</p>

    </div>

    </div>
</div>