<h4 class="h-standardMargin"><%=title%></h4>
<div class="container-fluid bg-6 text-center panel-body h-text-align-left">
    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>Inline reverse words in a string. with out using extra array.</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input: 'Hyderabad Delhi Mumbai’</p>
            <p>output: "dabaredyH ihleD iabmuM"</p>
            <p>Note: not to use any special inbuild methods and extra arrays. Do inline manipulations.</p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>

                var rev = function(s) {
                  var j=0;
                  var str = s.split('');
                  for(var i=0;i&lt; str.length;i++){
                    if(str[i] == ' ' || i == str.length-1){
                      var e = i == str.length-1? i:i-1;
                      var wordLen = i == str.length-1?i-j+1:i-j;
                      var m=0;
                      for(var k=j;k&lt;j+wordLen/2;k++){
                        var temp = str[k];
                        str[k] = str[e-m];
                        str[e-m] = temp;
                        m++;
                      }
                      j = i+1;
                    }
                  }
                  str = str.join('');
                  return str;
                }
                </pre>

        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                console.log(rev('Hyderabad Delhi Mumbai')); // prints "dabaredyH ihleD iabmuM"
            </pre>
        </section>
    </div>
    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>Write Currying function in javascript</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input: </p>
            <p>output: </p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>
                var f = function(a,b,c,d){
                   console.log(a+b+c+d);
                }
                var Currying = function(f){
                  var arrayArg = Array.prototype.slice.call(arguments);
                  var args = arrayArg.slice(1, arrayArg.length);
                  this.fun = function(){
                    f.apply(this,args.concat(Array.prototype.slice.call(arguments)));
                  }
                  return this.fun;
                }
            </pre>
        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                var doCurry = Currying(f, 1, 2);
                doCurry(3, 4, 5); // prints 10
            </pre>
        </section>
    </div>

    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>fun(1)(2)(3)(4)(); should print sum of all inputs</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input:fun(1)(2)(3)(4)(5)(6); </p>
            <p>output: 21</p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>
                var sum = 0; fun = function(a){
                  if(a == undefined) {
                    return sum;
                  } else {
                    sum = sum + a;
                    return arguments.callee;
                  }
                }
    </pre>
        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                fun(1)(2)(3)(4)(); // prints 10
            </pre>
        </section>
    </div>
    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>Merge two indefinite length arrays in sorted order</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input: [8,2,5] [19,5,3,7] </p>
            <p>output: [2,3,5,5,7,8,19]</p>
            <p>input: [3,5,1,3] [6,2,1,4] </p>
            <p>output: [1,1,2,3,3,4,5,6]</p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>
                function mergeArrays(a, b) {
                    a = a.sort(); b = b.sort();
                    var out = [];
                    while(a.length || b.length) {
                        if(a.length == 0) {
                            out = out.concat(b);
                            b = [];
                        } else if(b.length == 0) {
                            out = out.concat(a);
                            a = [];
                        } else if (a[0]<=b[0]) {
                            out.push(a.splice(0,1)[0]);
                        } else if (a[0]>b[0]) {
                            out.push(b.splice(0,1)[0]);
                        }
                    }
                    return out;
                }
            </pre>
        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                var a = [8,2,5];
                var b = [19,5,3,7];
                mergeArrays(a,b);  //prints [2,3,5,5,7,8,19]
            </pre>
        </section>
    </div>
    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>check given number is prime or not</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input: 3</p>
            <p>output: true</p>
            <p>input: 100</p>
            <p>output: false</p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>
                var isPrime = function(num){
                  for(var i=2;i<=num/2;i++) {
                    if(num%i == 0) {
                      return false;
                    }
                  }
                  return true;
                }
            </pre>
        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                isPrime(3);// prints true
                isPrime(100);//prints false
            </pre>
        </section>
    </div>
    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>reverse words in string using js methods</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input: 'Hyderabad Delhi Mumbai'</p>
            <p>output: "dabaredyH ihleD iabmuM"</p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>
                var reverseWords = function(str) {
                  return str.split(' ').map(function(val){ return val.split('').reverse().join(''); }).join(' ');
                }
            </pre>
        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                reverseWords('Hyderabad Delhi Mumbai'); //prints "dabaredyH ihleD iabmuM"
            </pre>
        </section>
    </div>
    <div class="row h-standardMargin">
        <section>
            <p><strong>Question</strong></p>
            <p>QuickSort program using javascript</p>
        </section>
        <section>
            <p><strong>Hints & Examples of input output</strong></p>
            <p>input: [7,2,1,6,8,5,3,4]</p>
            <p>output: [1,2,3,4,5,6,7,8]</p>
        </section>
        <section>
            <p><strong>Solution</strong></p>
            <pre>
                var QuickSort = function(array) {
                    this.quickSort = function (array, start, end) {
                        if(start&lt;end){
                            var partitionIndex = this.partition(array, start, end);
                            this.quickSort(array,start, partitionIndex-1);
                            this.quickSort(array,partitionIndex+1, end);
                        }
                    }
                    this.partition = function (array, start, end) {
                        var partitionIndex = start;
                        var pivot = array[end];
                        for (var i=start;i&lt;end;i++) {
                            if (array[i] < pivot) {
                                this.swap(array, i, partitionIndex);
                                partitionIndex++;
                            }
                        }
                        this.swap(array, partitionIndex, end);
                        return partitionIndex;
                    }
                    this.swap = function (array, m, n) {
                        if(m == n) return;
                        var temp = array[m];
                        array[m] = array[n];
                        array[n] = temp;
                    }
                    this.quickSort(array, 0, array.length-1);
                    return array;
                }
            </pre>
        </section>
        <section>
            <p><strong>Evaluation</strong></p>
            <pre>
                var x = [7,2,1,6,8,5,3,4]; console.log(QuickSort(x).join(',')); //prints 1,2,3,4,5,6,7,8
            </pre>
        </section>
    </div>

    <div class="row h-standardMargin">
    <section>
    <p><strong>Question</strong></p>
    <p>f(2)(3)(4)....()</p>
    </section>
    <section>
    <p><strong>Hints & Examples of input output</strong></p>
    <p>input: f(2)(3)(4)()</p>
    <p>output: 9</p>
    </section>
    <section>
    <p><strong>Solution</strong></p>
    <pre>
        f = function (x) {
            var total = x;
            var abc = function(y) { 
                if(!y) return total;
                total+= y; 
                return abc; 
            }
            return abc;
        }
    </pre>
    </section>
    <section>
    <p><strong>Evaluation</strong></p>
    <pre>
        9
    </pre>
    </section>
    </div>

    <div class="row h-standardMargin">
    <section>
    <p><strong>Question</strong></p>
    <p>find longest armstrong in a given string?</p>
    </section>
    <section>
    <p><strong>Hints & Examples of input output</strong></p>
    <p>input: 'adfasafad'</p>
    <p>output: 'fasaf'</p>
    </section>
    <section>
    <p><strong>Solution</strong></p>
    <pre>
        function findLongestArmstrong(s) {
            var str1 = '', str2 = '', str3 = '';
            if(s === s.split('').reverse().join('')) return s;
            for(i=1; i&lt;s.length-2; i++) {
                var sbstr = s.slice(i);
                var rsbstr = sbstr.split('').reverse().join('');
                console.log(sbstr);
                if(sbstr === rsbstr) {
                    str1 = sbstr;
                    break;
                }
            }
            for(i=s.length-2; i&gt;2; i--) {
                var sbstr = s.slice(0,i);
                var rsbstr = sbstr.split('').reverse().join('');
                console.log(sbstr);
                if(sbstr === rsbstr) {
                    str2 = sbstr;
                    break;
                }
            }
            var sstr = s;
            while(sstr.length >2) {
                sstr = sstr.slice(1, sstr.length-1);
                console.log(sstr);
                if(sstr === sstr.split('').reverse().join('')){
                    str3 = sstr;
                    break;
                }
            }
            return str1.length &gt; str2.length ? str1.length&gt;str3.length?str1: str2: str2.length&gt;str3.length?str2:str3;
        }
    </pre>
    </section>
    <section>
    <p><strong>Evaluation</strong></p>
    <pre>
        findLongestArmstrong('adfasafad') // fasaf
    </pre>
    </section>
    </div>

    <div class="row h-standardMargin">
    <section>
    <p><strong>Question</strong></p>
    <p>convert tree object to flat object</p>
    </section>
    <section>
    <p><strong>Hints & Examples of input output</strong></p>
    <p>input:
        <pre>
            var tree = {
                            a : {
                                b: {
                                    c: 4,
                                    d: 5
                                },
                                e: 6
                            }
                        }
        </pre>
    </p>
    <p>output: {abc: 4, abd: 5, ae: 6}</p>
    </section>
    <section>
    <p><strong>Solution</strong></p>
    <pre>
        function flat(tree) {
            var op = {};
            var tmpKey = [];
            function rec(tree) {
                for(key in tree) {
                    tmpKey.push(key);
                    if( typeof tree[key] === 'object') {
                        rec(tree[key]);
                    } else {
                        op[tmpKey.join('')] = tree[key];
                        tmpKey = tmpKey.splice(0, tmpKey.length-1);
                    }
                }
                tmpKey = tmpKey.splice(0, tmpKey.length-1);
            }
            rec(tree);
            return op;
        }
    </pre>
    </section>
    <section>
    <p><strong>Evaluation</strong></p>
    <pre>
        flat(tree) // {abc: 4, abd: 5, ae: 6}
    </pre>
    </section>
    </div>

    <!--use below snipped for new block-->
    <!--<div class="row h-standardMargin">-->
    <!--<section>-->
    <!--<p><strong>Question</strong></p>-->
    <!--<p></p>-->
    <!--</section>-->
    <!--<section>-->
    <!--<p><strong>Hints & Examples of input output</strong></p>-->
    <!--<p>input: </p>-->
    <!--<p>output: </p>-->
    <!--</section>-->
    <!--<section>-->
    <!--<p><strong>Solution</strong></p>-->
    <!--<pre>-->
    <!---->
    <!--</pre>-->
    <!--</section>-->
    <!--<section>-->
    <!--<p><strong>Evaluation</strong></p>-->
    <!--<pre>-->
    <!---->
    <!--</pre>-->
    <!--</section>-->
    <!--</div>-->
</div>
