<div id="drawerLayout" class="drawer dw-xs-12 dw-sm-12 dw-md-12 fold" aria-labelledby="drawerLayout">
    <div class="drawer-backdrop" data-toggle="drawer" data-target="#drawerLayout"></div>
    <div class="drawer-contents dw-xs-10 dw-sm-6 dw-md-4">
        <div class="drawer-heading">
            <h2 class="drawer-title">USK's Blog</h2>
        </div>
        <div class="drawer-body">

        </div>
        <ul class="drawer-nav">
            <li role="presentation"><a class='nav-link-close-drawer' href="#">Home</a></li>
            <li role="presentation"><a class='nav-link-close-drawer' href="#about">About Me</a></li>
            <li role="presentation"><a class='nav-link-close-drawer' href="">Technology</a>
                <ul>
                    <!--<li role="presentation"><a class='nav-link-close-drawer' href="#">Android<span class="btn btn-social-icon btn-android" ><span class="fa fa-android"></span></span></a></li>-->
                    <li role="presentation"><a class='nav-link-close-drawer' href="#android-notes">Android Technology Notes<span class="btn btn-social-icon btn-android icon-font-black" ><span class="fa fa-android"></span></span></a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#web-interview">Web Technology Notes</a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#js-programs">JS Programs</a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#ios-interview">iOS Technology Notes<span class="btn btn-social-icon btn-apple icon-font-black" ><span class="fa fa-apple"></span></span></a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#ds-algo-notes">DS & Algorithms Notes</a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#general-notes">General Concepts and Notes</a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#angular-notes">Angular JS Notes</a></li>
                    <li role="presentation"><a class='nav-link-close-drawer' href="#reactjs-notes">React JS Notes</a></li>
                    <!--<li role="presentation"><a class='nav-link-close-drawer' href="#">Node</a></li>-->
                </ul>
            </li>
            <!--<li role="presentation"><a class='nav-link-close-drawer' href="#">Travel</a></li>-->
            <li role="presentation"><a class='nav-link-close-drawer' href="#fitness">Fitness & Diet</a></li>
            <li role="presentation"><a class='nav-link-close-drawer' href="#articles">Articles</a></li>
            <li role="presentation"><a class='nav-link-close-drawer' href="#gallery">Gallery</a></li>
            <li role="presentation"><a class='nav-link-close-drawer' href="app/pages/timepass.html">Time pass</a></li>
        </ul>
        <div class="h-standardMargin">
            <p>© Uday Sravan Kumar Kamineni 2017.</p>
            <div class="social-icons h-text-white">
                <a class="btn btn-social-icon btn-facebook social-icon" href="https://www.facebook.com/usk.kamineni" target="_blank"><span class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-bitbucket social-icon" href="https://bitbucket.org/udaysravank/" target="_blank"><span class="fa fa-bitbucket"></span></a>
                <a class="btn btn-social-icon btn-github social-icon" href="https://github.com/udaysravank/" target="_blank"><span class="fa fa-github"></span></a>
                <a class="btn btn-social-icon btn-google social-icon" href="https://plus.google.com/u/0/+UDAYSRAVANKUMARKAMINENI/about" target="_blank"><span class="fa fa-google-plus"></span></a>
                <a class="btn btn-social-icon btn-linkedin social-icon" href="https://in.linkedin.com/in/uday-sravan-kumar-kamineni-65135321" target="_blank"><span class="fa fa-linkedin"></span></a>
                <a class="btn btn-social-icon btn-odnoklassniki social-icon" href="http://stackoverflow.com/users/1897654/uday-sravan-k" target="_blank"><span class="fa fa-stack-overflow"></span></a>
            </div>
        </div>
    </div>
    <div class="container">

    </div>

</div>

